* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");

  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 25px;
  background: #ff6b6b;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

/* レスポンシブ */

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}

/* カード　*/
.card {
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(255, 100, 100, 0.8),
    rgba(255, 150, 150, 0.5)
  );

  backdrop-filter: blur(20px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  color: white;
}

.card button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #ff6b6b, #ff9a9e);
  color: white;
}

/* パターン背景 */
.pattern-bg {
  height: 100vh;

  background: linear-gradient(135deg, #667eea, #764ba2);

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 40px;
}

/* SVGパターン */

.pattern-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("data:image/svg+xml,\
<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'>\
<circle cx='5' cy='5' r='2' fill='white' opacity='0.3'/>\
</svg>");
}
